<div layout="row" flex layout-align="center" >
	  
<h1>FUTURE PLANS</h1>

</div>

<div layout layout-align="center center center" style="font-size:20px;	">

<md-progress-circular  md-mode="indeterminate" value="" ng-value="1" md-diameter="100"></md-progress-circular>
<md-progress-linear  md-mode="indeterminate" value="2" md-buffer-value="100"></md-progress-linear>
<md-progress-circular  md-mode="indeterminate" value="" ng-value="1" md-diameter="100"></md-progress-circular>
<!--md-mode	can be select from one of four modes: determinate, indeterminate, buffer or query..-->
<!--For operations where the user is asked to wait a moment while something finishes up, and it’s not necessary to expose what's happening behind the scenes and how long it will take, use an md-mode="indeterminate" indicator.-->

</div>