
<!-- Coming soon addon -->
<!--    <br> <br>  <br>  <br> <br>  <br> <br>  <br> <br>  <br>  <div layout="row"  layout-align="center"
    style="z-index:99999;padding:28px;position:fixed;font-size:20px;width:100%;background-color:#fece1a;text-align:center;font-color:black;font-family:steinerlight;border:12px;border-color:black;border-style:dotted;"><p>Sorry for inconveince! Website currently under development. Check back after 15th July, 2016.   <i class="fa fa-spinner fa-spin"></i> Check <a href="https://facebook.com/atrixdigital" >facebook page! <i class="fa fa-facebook"></i></a> for more details.</p> </div> -->




<header layout="row">
<md-toolbar layout-align="space-between center" style="opacity: 0.9;background-color: #f5c923;" flex="auto">
    <!--The left side-->
  <img src="content/img/logo.png" width="55px" height="55px">  <span> 
  <h1 class="md-toolbar-tools" id="h1-logo" flex="auto">ATRIX DIGITAL SOLUTION</h1></span>
    <!--The right side-->
    <span  hide-xs hide-sm layout > 

        <md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> Online Store </md-button>
        <md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> Travel </md-button>
        <md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> Atrix.io </md-button>
		<md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> Academy </md-button>
		<md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> Production </md-button>
		<md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> Build </md-button>
		<md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> <a href="#/admin">Community</a> </md-button>
		<md-button class="md-warn"aria-label="First Button" style="color: #fece1a;background-color: black;opacity: 1;"> <a href="#/coreproducts">MUD </a></md-button>
    </span> 
    <div layout="row" layout-align="center center" hide-lg hide-md>
    <i class="fa fa-bars" style="font-size: 40px;color: black;border:12px; "></i>
    </div>
    <br> 
    </header>

</md-toolbar>

<div layout="row" layout-align="center" hide-sm  hide-xs  flex id="mybox">
<md-toolbar layout="row" class="header" style="opacity: 1;background-color: black;">
<md-button class="btn-header " ng-href="#/home" style="color: #fece1a;" flex>Home</md-button>
<md-button class="btn-header" ng-href="#/aboutus" style="color: #f5c923;" flex>About us</md-button>
<md-button class="btn-header" ng-href="#/career" style="color: #f5c923;" flex>Career</md-button>
<md-button class="btn-header" ng-href="#/build" style="color: #f5c923;" flex>What to Build</md-button>
<md-button class="btn-header" ng-href="#/portfolio" style="color: #f5c923;" flex>Portfolio</md-button>
<md-button class="btn-header" ng-href="#/services" style="color: #f5c923;" flex>Services</md-button>
<md-button class="btn-header" ng-href="#/products" style="color: #f5c923;" flex>Products</md-button>
<md-button class="btn-header" ng-href="#/future" style="color: #f5c923;" flex>Future</md-button>
<md-button class="btn-header" ng-href="#/contactus"style="color: #f5c923;" flex>Contact us</md-button>



</md-toolbar>
</div>