<section>
<style>

</style>


  <section class="home" >

    
<div class="jumbotron">
  
  <div id="black">
  <video autoplay  loop id="video-bg">
     <source src="http://i.istockimg.com/video_passthrough/86582377/151/86582377.mp4" type="video/mp4">

</video> 
</div>  
  <div  class="animated fadeInDown">
      <div layout="row" flex>  <!-- first row header -->
      <img src="content/img/logo.png" width="120px" height="120px" flex="10">
      <span flex="10"></span> 
       <img src="content/img/angular.png" width="120px" height="120px" flex="10">
      <span flex="25"> </span>
             <img src="content/img/mobi.png" width="120px" height="120px" flex="10">
                   <span flex="20"> </span>

            <img src="content/img/polymer.png" width="120px" height="120px" flex="10" >
  </div>

      <div layout="row" flex> <!-- second row header -->
            <span flex="10"> </span>
                <img src="content/img/node.png" width="120px" height="120px" flex="10">

            <span flex="10"> </span>
    <img src="content/img/react-logo.png" width="120px" height="120px" flex="10">
      <span flex="30"> </span>
          <img src="content/img/aurelia.png" width="12px" height="50px" flex="10">



      </div>

    <div class="container">
      <div class="col-md-12">
     <md-whiteframe class="md-whiteframe-z4" layout layout-align="center center">
       
     <h1>Atrix Digital Solutions<br class="visible-lg "/> You think and we build it.</h1>
      </md-whiteframe>
      <hr style="width:100%;text-align:left;margin:30px 0; border:0.5px solid #fff;"/>
      </div>
      <div class="col-md-8">
    <center>  <h2 class="subtitle" style="color:white;font-family: steinerlight;font-stretch: 2px;white-space: 2px;">Bringing innovation and technologies to their maximum limits.</h2></center>
      </div> 

    </div>
  </div>
</div>
<div layout="row" layout-align="center center" layout-xs="column"> 
<h1 class="md-display-3" style="font-family: steinerlight;"><u>Developing a better digital World </u><i class="fa fa-android"> <md-tooltip md-direction="top">
          Solutions to mobile App development. <i class="fa fa-android"/>
        </md-tooltip></i> <md-tooltip md-direction="bottom">
          Atrix digital Solution is fastest growing IT company in Pakistan. We have solution to every digital need. Creating digital businesses from Scratch. E-commerce Online shopping stores. ERP, CRM, POS, HRM Systems for enterprise Corporations. Tons of Product for Small businesses.
        </md-tooltip></h1> </div>

<div class="container" id="main-wrapper" layout="row" flex layout-xs="column">
    <md-card>
      <img class="md-card-image" src="content/img/SuccessfulBusinessPlan-1900x600.jpg" alt="image caption">
      <md-card-content>

        <p class="md-display-2" style="font-family: roboto;"><u>Developing Softwares on latest ground technology.</u> <i class="fa fa-circle-o-notch fa-spin">  </md-tooltip> <md-tooltip md-direction="bottom"> 
        This is ng-Atrix. A multi-page web application in accordance to Angular material, PolymerJS, Jquery. A sample work of our excellence.
        </md-tooltip></i> </p>
      </md-card-content>
      <md-card-footer class="md-display-body1">
     We have developed softwares systems on latest ground technologies. Websites and applications build using latest frameworks and optimized. Enterprise Resource Management(ERM) System, Client management systems, Education system, Defense an security, Retail, media Management System and Enterprise travel systems.
     Get to know more about products. Solutions to client handling, Mobile applications and enterprise software, anything that you can imagine, we can build it.
      </md-card-footer>
      <div class="md-actions" layout="row|column" layout-align="start|end|center start|end|center">
         <md-button>Atrix Digital - Bringing Imagination to life.</md-button>
       </div>
    </md-card>
 
    </div>
   
<div layout="row" layout-xs="column" >
  <div flex>
   <md-card>
  <div class="flip-container">
  <div class="flipper">
    <div class="front">
    <img src="content/img/graphic_course.png">
      <h1 class="md-diplay-3">Graphic Designing </h1>
      <p>Company Branding</p>
 
    </div>
    <div class="back">
     <a href="#/aboutus"> <p id="titulo" class="md-display-1">Graphic Designing</p>
      <p >Banners, Logo, brochures, business cards</p>
   
      <md-button data-target="#/home">learn more</md-button>
    </div></a>
  </div>
</div> 
</md-card>
</div>
 <div flex>
   <md-card>
  <div class="flip-container">
  <div class="flipper">
    <div class="front">
    <img src="content/img/business-website-mockup.png">
      <h1 class="md-diplay-3">Web Development </h1>
      <p>E-Commerce/Business</p>
    </div>
    <div class="back">
      <h1 class="md-diplay-3">Website </h1>
    
 
    </div>
    <div class="back">
    <a href="#/webdevelopment">  <p id="titulo" class="md-display-1">Website <span style="font-size:28px"> development.</span></p>
      <p>E-Commerce, Business, Travel, Technology, Health, NGO,...</p>
      <md-button data-target="#/home">Learn more</md-button>
    </div></a>
  </div>
</div> 
</md-card>
</div>
 <div flex>
   <md-card>
  <div class="flip-container">
  <div class="flipper">
    <div class="front">
    <img src="content/img/mobi.png">
      <h1 class="md-diplay-3">App Development </h1>
      <p>Android/iOS/Win10</p>
    
    </div>
    <div class="back">
      <h1 class="md-diplay-3">Graphic Designing </h1>
     
 
    </div>
  <a href="#/mobileDevelopment">  <div class="back">
      <p id="titulo" class="md-display-1">Mobile Application</p>
      <p >Android/iOS/windows cloud mobile application with intergrated database.</p>
   
      <md-button data-target="#/home">Learn more</md-button>
    </div></a>
  </div>
</div> 
</md-card>
</div>

</div>


<hr><br />
<div layout="row" show  layout-xs="column">
<img src="content/img/erp.jpg" width="1200px" height="500px" hide-xs>
</div>

<!-- starting grid -->
<div layout="row" layout-wrap >
  <div flex="20"   hide-sm hide-xs>   <div class="md-display-3" style="font-family: steinerlight;"  layout-align="center center">
  <hr>
  Let us build your ideas into reality.
  </div>
 <a href="#/career"> Learn more </a>
</div>
  <div flex="80" layout="column"  >
  <div flex layout="row"  layout-xs="column">
    <div flex="50"  class="image-hover img-shadow-1">  <img src="content/img/slide-1.png" width="550px" height="220px" id="flexy"> <md-tooltip md-direction="top">
          Banners, logo, animated videos, Company branding,profiling and all types of graphic designing. Click here to know more<i class="fa fa-paint-brush"/>
        </md-tooltip>  </div>
    <div flex="50" class="image-hover img-shadow-1">  <img src="content/img/slide-3.png" width="550px" height="220px" id="flexy"> <md-tooltip md-direction="top">
          Web designing and development services using the latest Technologies. Click here to proceed to Build web Portal <i class="fa fa-globe"/>
        </md-tooltip> </div> 
  </div>
  <div flex layout="row"  layout-xs="column">
    <div flex="50"  class="image-hover img-shadow-1">  <img src="content/img/career.gif" width="550px" height="230px" id="flexy"> <md-tooltip md-direction="bottom">
          Our career program find the perfect jobs for you. Click to proceed to portal <i class="fa fa-graduation-cap"/>
        </md-tooltip></div>
    <div flex="50" class="image-hover img-shadow-1">  <img src="content/img/customapp.jpg" width="550px" height="230px" id="flexy"> <md-tooltip md-direction="bottom">
         Android and iOS mobile App Development.Click to Proceed. <i class="fa fa-mobile-phone"/>
        </md-tooltip> </div> 
  </div>
  </div>
  
</div>
<hr>
<div layout="column" layout-align="center center"  style="background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png);background-blend-mode: darken;"> 
<h1 class="md-display-3" style="font-family:steinerlight;"> <md-tooltip md-direction="bottom">
          Click here to Proceed to Build your digital business right now!
        </md-tooltip>Web Development<i class="fa fa-cog fa-spin"/><p class="md-subheader">Building the best responsive web Application based on latest technologies.</p></h1>    

</div>

<div layout="row" layout-align="center" style="background:url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png);">

 <div layout="row" layout-wrap layout-align="center center">
    <div flex>

  <md-card layout="row" layout-align="center" layout-xs="column" layout-sm="column">
   <img class="md-card-image" src="content/img/webdesign.gif" alt="image caption" style="width: 300px;height: 300px;border-radius: 160px; margin: 12px;" > <md-tooltip md-direction="bottom">
         Solution for mobile app development both Android <i class="fa fa-android"/> and iPhones <i class="fa fa-mobile"/>.
        </md-tooltip><hr>
      <div layout hide-sm><img class="md-card-image" id="comp" src="content/img/sitewe.gif" alt="image caption" style="width: 600px;height: 400px;border-radius: 100px;margin: 12px;"  >  <md-tooltip md-direction="top">
          User Freindly. Responsive. Awesume. Converging. Material designed. Web Applications.<i class="fa fa-star-o"/>
        </md-tooltip><hr></div> <md-tooltip md-direction="right">
          Stunning Graphic. Coolest design. hard coded from scratched applications.<i class="fa fa-laptop"/>
        </md-tooltip>

   <img class="md-card-image" src="content/img/webresp.gif" alt="image caption" style="width: 300px;height: 300px;border-radius: 160px;margin: 12px;box-shadow: 3px;" > <md-tooltip md-direction="left">
          Cache Optimized.Effective response. Unit Testing. Agile Approach. Powered by AngularJS <img src="content/img/ng-ico.png" width="15px" height="18px"> 
        </md-tooltip>
</md-card>

</div>
</div>
</div>
 <div layout="row" layout-wrap layout-align="center center">
<md-button class="md-raised md-whiteframe-z4" href="" ng-disabled="true|false" aria-label="description" md-no-ink="true|false" md-ripple-size="full|partial|auto" style="font-size:19px;">
        <md-tooltip md-direction="bottom">
          Click here to Proceed to Build Web Portal <i class="fa fa-wrench"></i>
        </md-tooltip>Start your digital Business<i class="fa fa-laptop5y5"></i> </md-button> 
</div>
<hr/ style="width: 50%;height:">

<style>
: 200px;
}
</style>

 <div layout="row" layout-align="center" layout-xs="column">
  <h2 class="md-display-3" style="font-family: steinerlight;">Products
  <p class="md-subheader" style="text-align: center;">| Core - Industrial Specific - Business |</p>
  </h2>
  </div>
<md-whiteframe class="md-whiteframe-z1"  >
  <div layout="row" layout-xs="column" layout-wrap style="background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png);">
  <div flex="33" flex-xs="100"> <md-card>
      <img class="md-card-image" id="img-card" src="content/img/products.jpg" alt="image caption">
      <md-card-content layout-algin="center">
        <h2 class="heading" ng-target="#/coreproduct">Core Products </h2>
        <p>Support your core business operations with world's leading applications, processes, and technologies. Primarlity for large scale corporation and government.</p>
      </md-card-content>
      <md-card-footer style="text-align: center;"> 
<code> Atrix Core Product<br> GeoTracking StatisticManagement ProjectManagement UniversityPortal Analytics UBS SystemControl.     </code> </md-card-footer>
      <div class="md-actions" layout="row|column" layout-align="center center">
         <md-button class="md-accent center" style="text-align: center;"> Find out more</md-button>
       </div>
    </md-card> </div>
    
    <div flex="33" flex-xs="100"> <md-card>
      <img class="md-card-image" id="img-card" src="content/img/industry-specifi-solution-2.jpg" alt="image caption">
      <md-card-content>
        <h2 class="heading">Industrial Specific</h2>
        <p>Stay Ahead in your Industry by taking advantage of industry-specific knowledge, best practices, and processes.</p>
      </md-card-content>
      <md-card-footer style="text-align: center;">
    <code> Travel. School. Hospital. RealEstates. Restaurant. OnlineShopping. Automobile. Media. Branding. Security. Health. NGO. Startup. </code>
      </md-card-footer>
      <div class="md-actions" layout="row|column" layout-align="center center">
          <md-button class="md-accent center" style="text-align: center;"> Find out more</md-button>
       </div>
    </md-card> </div>
    <div flex="33" flex-xs="100"> <md-card>
      <img class="md-card-image" id="img-card" style="" src="content/img/Banner2.png" alt="image caption">
      <md-card-content>
        <h2 class="heading">Business Products</h2>
        <p>World's Best Applications and Process design specifically for Small businesses, to cater their everyday need.</p>
      </md-card-content>
      <md-card-footer style="text-align: center;" hide-sm-xs>
         <code >ERP CRM HRM Recruitment Training EmployeePortal Finance OnlinePayment AssetManagemetn Payroll Procurement Adminstration EnvironmentManagement. </code>
       </md-card-footer>
      <div class="md-actions" layout="row|column" layout-align="center center">
         <md-button class="md-accent center" style="text-align: center;"> Find out more</md-button>
       </div>
    </md-card> </div>
  </div>
</md-whiteframe>

<hr>




<div class="row" layout-align="center center">
<md-card  layout-align="center center">
  <img class="md-card-image" src="content/img/career.gif" alt="image caption" >
  <md-card-content layout-align="center center center">
    <h2 style="font-family: steinerlight;text-align: center;">Finding the perfect job</h2>
    <p>Concerned about finding the perfect job. Let us do the hard work and look for the perfect job for you. Are you looking for Projects and 
    you got that one skills that you are really good at. May be we are looking for that skills. Just fill in the form below, your concerns and priorities and let us find the best place for you to work or remote project.</p>
  </md-card-content>
  <md-card-footer>
Don't have the skills? Don't worry. Proceed to our Career Portal and join the Academy to learn new skills. Get your career up and running in no time. <i class="fa fa-spinner fa-spin"/>.
  </md-card-footer>
  <div class="md-actions" layout="row|column" layout-align="start|end|center start|end|center">
     <md-button class="md-raised">Atrix Career Portal <i class="fa fa-graduation-cap"></i></md-button>
   </div>
</md-card>
</div>


<md-card layout-align="center center"> 


<br><br><br><br><br><br><br><br><br><br>
</section>
<!-- Java Script - Custom jquery -->
   
    
   <script>
  

  $('.flip-container').mouseenter(function(){
  $('body').addClass('body_m', 1000);
});
$('.flip-container').mouseleave(function(){
  $('body').stop().removeClass('body_m', 900);
});
</script>
</section>