<div layout="row" layout-padding class="bg-dark-blue nav-dark" layout-align="space-between center">
<div>
   <a href="#/home"> <md-button>Home</a></md-button>
    <a href="#/aboutus"><md-button>About</a></md-button>
    <a href="#/services"><md-button>Services</a></md-button>
    <a href="#/products"><md-button>Products</a></md-button>
    <a href="#/career"><md-button>Career</a></md-button>
   
     <md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()">What to Build?</md-button>
        <!-- Main Menu -->
            <md-menu-content width="2">
      
            <!-- 1st item -->
          <a href="#/help"><md-menu-item>
                     <md-button>Website</md-button></a>
            </md-menu-item>
              <!-- 2st item -->
          <a href="#/help"><md-menu-item>
                     <md-button>Mobile app</md-button></a>
            </md-menu-item>
              <!-- 3st item -->
          <a href="#/help"><md-menu-item>
                     <md-button>SEO</md-button></a>
            </md-menu-item>
             <!--4nd item  -->
              <a href="#/contact"><md-menu-item>
              <md-button>E-commerce Store</md-button></a>
            </md-menu-item>
            <!-- 5st item -->
          <a href="#/help"><md-menu-item>
                     <md-button>Graphic design</md-button></a>
            </md-menu-item>
             <!-- 1st item -->
            <md-menu-item>
                <md-button>Custom build</md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
    <md-menu>
        <md-button md-menu-origin ng-click="$mdOpenMenu()">Help</md-button>
        <!-- Main Menu -->
            <md-menu-content width="1">
      
            <!-- 1st item -->
          <a href="#/help"><md-menu-item>
                     <md-button>Help</md-button></a>
            </md-menu-item>
            <!--2nd item  -->
              <a href="#/contact"><md-menu-item>
              <md-button>Contact</md-button></a>
            </md-menu-item>
                        <!--2nd item  -->

           <a href="#/faq"> <md-menu-item>
                <md-button>faq</md-button></a>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<div class="nav-buttons">
  <md-button class="md-raised md-accent">  <a href="#/register">Register</a></md-button>
    <md-button class="md-raised md-default">Log Out</md-button>
</div>